In [2]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('../data/filtered_train_data_all.csv')

In [3]:
df_train.shape

(1044839, 9)

In [11]:
print(df_train[df_train.insincere==1].shape,df_train[df_train.insincere==0].shape)

(64672, 9) (980167, 9)

In [13]:
print(df_train[df_train.sincere==0].shape,df_train[df_train.sincere==1].shape)

(64672, 9) (980167, 9)

<br/><br/><br/><br/><br/><br/><br/>

In [20]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('../dev_data/cleaned_data/train.csv',index_col=0)
df_valid = pd.read_csv('../dev_data/cleaned_data/validation.csv',index_col=0)
df_test = pd.read_csv('../dev_data/cleaned_data/test.csv')

In [26]:
df_train['tag'] = 'train'
df_valid['tag'] = 'valid'
df_test['tag'] = 'test'

In [28]:
df_train.head()

,qid,question_text,target,tokens,token_len,tokenized,sincere,insincere,tag
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0,"['How', 'did', 'Quebec', 'nationalists', 'see'...",14,How did Quebec nationalists see their province...,1,0,train
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0,"['Do', 'you', 'have', 'an', 'adopted', 'dog', ...",18,"Do you have an adopted dog , how would you enc...",1,0,train
2,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0,"['How', 'did', 'Otto', 'von', 'Guericke', 'use...",10,How did Otto von Guericke used the Magdeburg h...,1,0,train
4,00004f9a462a357c33be,"Is Gaza slowly becoming Auschwitz, Dachau or T...",0,"['Is', 'Gaza', 'slowly', 'becoming', 'Auschwit...",12,"Is Gaza slowly becoming Auschwitz , Dachau or ...",1,0,train
5,0000559f875832745e2e,Is it crazy if I wash or wipe my groceries off...,0,"['Is', 'it', 'crazy', 'if', 'I', 'wash', 'or',...",16,Is it crazy if I wash or wipe my groceries off...,1,0,train

In [29]:
df_valid.head()

,qid,question_text,target,tokens,token_len,tokenized,sincere,insincere,tag
3,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0,"['Can', 'I', 'convert', 'montra', 'helicon', '...",16,Can I convert montra helicon D to a mountain b...,1,0,valid
11,000092a90bcfbfe8cd88,Can we use our external hard disk as a OS as w...,0,"['Can', 'we', 'use', 'our', 'external', 'hard'...",23,Can we use our external hard disk as a OS as w...,1,0,valid
20,00012011b6c7759461e8,Why haven't two democracies never ever went fo...,0,"['Why', 'have', ""n't"", 'two', 'democracies', '...",19,Why have n't two democracies never ever went f...,1,0,valid
29,00019e6de5c31a235308,What does great wit mean?,0,"['What', 'does', 'great', 'wit', 'mean', '?']",6,What does great wit mean ?,1,0,valid
39,00021a90cbe0ce61b32a,Why most of the computer science student buy f...,0,"['Why', 'most', 'of', 'the', 'computer', 'scie...",27,Why most of the computer science student buy f...,1,0,valid

In [27]:
df_test.head()

,qid,question_text,target,tag
0,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0,test
1,00005059a06ee19e11ad,Why does Quora automatically ban conservative ...,0,test
2,0000a89942e3143e333a,What do you know about Bram Fischer and the Ri...,0,test
3,0000ce6c31f14d3e09ec,Do you think Amazon will adopt an in house app...,0,test
4,00010632971fe5e3e0e2,Should I leave my friends and find new ones?,0,test

In [30]:
df_train.to_csv('../dev_data/cleaned_data/train1.csv')
df_valid.to_csv('../dev_data/cleaned_data/valid1.csv')
df_test.to_csv('../dev_data/cleaned_data/test1.csv')

In [45]:
df_train_stats = pd.read_csv('../dev_data/stats/train_features.csv',index_col=0)
df_valid_stats = pd.read_csv('../dev_data/stats/validation_features.csv',index_col=0)
df_test_stats = pd.read_csv('../dev_data/stats/test_features.csv',index_col=0)

In [46]:
df_train_stats.head()

,all_punctuation,commas,periods,quotation_marks,question_marks,other_punctuations,ADJ,ADV,NOUN,PROPN,...,PRON,PERSON,NORP,ORG,GPE,LOC,DATE,CARDINAL,sentiment,polarity
0,1,0,0,0,1,0,1,1,4,1,...,0,0,0,0,1,0,1,0,0.00,0.00
1,2,1,0,0,1,0,0,2,2,0,...,2,0,0,0,0,0,0,0,0.00,0.00
2,1,0,0,0,1,0,0,1,1,4,...,0,2,0,0,0,0,0,0,0.00,0.00
4,2,1,0,0,1,0,0,1,0,5,...,0,0,1,1,1,0,0,0,0.45,0.85
5,2,0,1,0,1,0,2,1,2,0,...,2,0,0,0,0,0,0,0,-0.60,0.90

In [47]:
df_valid_stats.head()

,all_punctuation,commas,periods,quotation_marks,question_marks,other_punctuations,ADJ,ADV,NOUN,PROPN,...,PRON,PERSON,NORP,ORG,GPE,LOC,DATE,CARDINAL,sentiment,polarity
3,1,0,0,0,1,0,1,1,5,0,...,1,0,0,0,0,0,0,0,0.000000,0.000000
11,2,0,1,0,1,0,3,2,4,0,...,1,0,0,1,0,0,0,0,-0.145833,0.320833
20,3,0,0,1,2,0,1,5,3,0,...,1,0,0,0,0,0,0,1,0.350000,0.550000
29,1,0,0,0,1,0,1,0,2,0,...,0,0,0,0,0,0,0,0,0.243750,0.718750
39,2,1,0,0,1,0,4,4,8,0,...,1,0,0,0,0,0,1,0,0.260000,0.550000

In [48]:
df_test_stats.head()

,all_punctuation,commas,periods,quotation_marks,question_marks,other_punctuations,ADJ,ADV,NOUN,PROPN,...,PRON,PERSON,NORP,ORG,GPE,LOC,DATE,CARDINAL,sentiment,polarity
0,2,0,0,0,2,0,0,1,5,0,...,0,0,0,0,0,0,0,0,0.000000,0.000000
1,2,1,0,0,1,0,3,4,2,1,...,0,0,0,1,0,0,0,0,0.000000,0.125000
2,1,0,0,0,1,0,0,0,1,4,...,1,1,0,1,0,0,0,0,0.000000,0.000000
3,1,0,0,0,1,0,1,0,5,3,...,1,0,0,1,0,0,0,0,0.000000,0.400000
4,1,0,0,0,1,0,2,0,2,0,...,1,0,0,0,0,0,0,0,0.136364,0.454545